<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>WineList</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="background">
  <ion-card *ngFor="let w of wine">
    <ion-card-header>
      <ion-card-subtitle>{{w.type}}</ion-card-subtitle>
      <ion-card-title>{{w.name}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     Precio: {{w.price}}€<br />
     Cantidad: {{w.quantity}} unidades <br/><br />
     Descripción: <br />{{w.description}}
    </ion-card-content>
    <ion-item>
      <ion-icon (click)="deleteWine(w.id)" name="trash" slot="end"></ion-icon>
      <ion-icon (click)="updateWine(w.id)" name="create-outline" slot="end"></ion-icon>
    </ion-item>
    <!-- <ion-item href="#">
      <ion-icon name="wine" slot="start"></ion-icon>
    </ion-item> -->

  </ion-card>

    <ion-button (click)="insertWine()"  expand="block">Añadir vino</ion-button>
 

</ion-content>

